/*	CSS for www.plurk.com
	3Presto by kuniumi yen
		Version Kai(2.0) 2014/06/13 Dev
		https://github.com/tzulum/3Presto
	License:GNU General Public License
		*Default #dynamic_logo background-image Copyright 春沢 from http://www.pixiv.net/member_illust.php?mode=medium&illust_id=34141681
	Supported browsers:Opera(Presto),Firefox,Chromium */
/*R.I.P. Opera Web Browser 1996-2013 We Will Miss You.*/

/*----------Custom(自訂設定區)----------*/
/*-----頂置設定-----*/
#dynamic_logo {/* 這裡是河道上GUMI、ゆかり、IA的所在位置，你可以更換成其他去背的圖片、或是個人作品。全河道背景需使下面#timeline_holder而不是這個 */
	background-image: url("http://i.imgur.com/JHgl3TY.png")!important; /* 背景圖片 */
	background-repeat: no-repeat!important; /*重複背景*/
	background-position: right bottom!important; /*背景對齊位置*/
}

#timeline_holder {/* 這裡是河道背景，預設漸層色背景不需另外設定。若需要自行修改可以仿造上面"#dynamic_logo"的語法 */
}

/*---------/Custom(自訂設定區結束)----------*/
/*----------UI----------*/
#timeline_holder {/*河床*/
	border-bottom: none !important;
	border-top: none !important;
	background-color: #EEE;
	background:   linear-gradient(to bottom, #EEE 60%,#AAA 100%);
	background:      -o-linear-gradient(top, #EEE 60%,#AAA 100%);
	background:    -moz-linear-gradient(top, #EEE 60%,#AAA 100%);
	background: -webkit-linear-gradient(top, #EEE 60%,#AAA 100%);
	box-shadow:         0px 0px 20px #333;
	-moz-box-shadow:    0px 0px 20px #333;
	-webkit-box-shadow: 0px 0px 20px #333;
}

#bottom_line {/*時間軸背景*/
	background: rgba(170,170,170,.6);
	background:   linear-gradient(to bottom, rgba(238,238,238,.8) 0%, rgba(204,204,204,.8) 100%);
	background:      -o-linear-gradient(top, rgba(238,238,238,.8) 0%, rgba(204,204,204,.8) 100%);
	background:    -moz-linear-gradient(top, rgba(238,238,238,.8) 0%, rgba(204,204,204,.8) 100%);
	background: -webkit-linear-gradient(top, rgba(238,238,238,.8) 0%, rgba(204,204,204,.8) 100%);
	border-top: 1px solid rgba(50, 50, 7, 0.4);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 7, 0.6);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 7, 0.6);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 7, 0.6);
}

.bottom_start ,.bottom_end {/*時間軸文字*/
	color: #333 !important;
	text-shadow: 0px 0px 2px #AAA;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
}
.bottom_end {
	opacity: 0;
}
#time_show ,#updater ,#music_player {
	min-width: 180px;
	padding: 0px 10px !important;
	text-align: center !important;
	text-shadow: 1px 1px 3px black;
	background-color: rgba(0,0,0,.5) !important;
	border: none !important;
	border-radius:         5px 5px 5px 5px;
	-moz-border-radius:    5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	transition:         all 0.2s ease 0s;
	-o-transition:      all 0.2s ease 0s;
	-moz-transition:    all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}
#time_show * ,#updater * ,#music_player * {
	color: white !important;
	font-size: 18px !important;
  line-height: 34px;
	background: none !important;
	text-decoration: none !important;
	text-shadow: 1px 1px 3px black;
	padding: 0;
}
#time_show:hover ,#updater:hover ,#music_player:hover {
	background-color: rgba(0,0,0,.9) !important;
}

.day_bg .div_inner {/*換日線*/
	background: none;
	width: 0px;
	border: none;
	border-left: 1px solid rgba(238,238,238,.2);
	border-right: 1px solid rgba(51,51,51,.2);
}

#dynamic_logo {
	background-size: contain;
	width: 100%;
	height: 100%;
	top: -10px;
	right: 0px;
	left: auto;
}
#dynamic_logo * {
	display :none;
}

.browse_button {
	opacity: 0.3;
	transition:         all 0.2s ease 0s;
	-o-transition:      all 0.2s ease 0s;
	-moz-transition:    all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}
.browse_button:hover{
	opacity: 0.9;
}

.p_img {/*噗文*/
	position: relative !important;
	left: 20px;
	z-index: 850;
	border: none !important;
	box-shadow:         1px 1px 3px black;
	-moz-box-shadow:    1px 1px 3px black;
	-webkit-box-shadow: 1px 1px 3px black;
}
.plurk_cnt .name {
	font-size: 14px;
	text-shadow: 0px 0px 1px rgba(0,0,0,.3);
}
.block_cnt .plurk_cnt {
	padding-left: 20px !important;
}
.new .plurk_cnt {
	box-shadow:         0px 0px 5px #FF0066;
	-moz-box-shadow:    0px 0px 5px #FF0066;
	-webkit-box-shadow: 0px 0px 5px #FF0066;
	opacity: 1 !important;
}
.plurk .plurk_cnt {/*未開啟的噗*/
	box-shadow:         0px 0px 3px black;
	-moz-box-shadow:    0px 0px 3px black;
	-webkit-box-shadow: 0px 0px 3px black;
	opacity: 0.6;
	transition:         all 0.2s ease 0s;
	-o-transition:      all 0.2s ease 0s;
	-moz-transition:    all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}
.plurk_cnt:hover {/*滑過的噗*/
	box-shadow:         0px 0px 5px black;
	-moz-box-shadow:    0px 0px 5px black;
	-webkit-box-shadow: 0px 0px 5px black;
	opacity: 1;
}
.list .plurk_cnt .name {
	position: static !important;
}
.list {
	border-left:  5px solid rgba(0,0,0,.7) !important;
	border-right: 5px solid rgba(0,0,0,.7) !important;
	border-top:    none !important;
	border-bottom: none !important;
}
.plurk_box .info_box,.plurk_box .caption {
	border: none !important;
}
.plurk_box .mini_form {
	background: rgba(0,0,0,.7) !important;
	color: white !important;
	border: none !important;
}
.plurk_box .mini_form span {
	color: white !important;
}
.plurk_box .caption,.info_box {
	color: white !important;
	background-color: rgba(0,0,0,.7) !important;
	font-weight: bold;
}
.info_box * {
	color: white !important;
	font-weight: bold;
}
.plurk_box .plurk_cnt {
	box-shadow:         none;
	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	opacity: 1;
	border: 5px solid rgba(0,0,0,.7) !important;
	border-bottom: none !important;
	padding-left: 15px !important;
}
.list .plurk_cnt {
	padding: 0 !important;
	border: none !important;
}
.plurk {
	box-shadow:         none;
	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
}
.response_time.plurk_cnt {/*回文選項*/
	background: rgba(0,0,0,.7)!important;
	border: none !important;
	transition:         all 0.2s ease 0s;
	-o-transition:      all 0.2s ease 0s;
	-moz-transition:    all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}
.response_time .holder {
	background: none;
}
.response_time .holder p,.response_time .holder a {
	color: white !important;
	text-shadow: 0px 0px 1px black;
}
.response_count {/* 回應數 */
	border: none !important;
	background: none !important;
	color: white !important;
	position: relative !important;
	top: -5px;
	left: -10px;
	text-shadow: 0px 0px 5px black;
	font-size: 2em;
}
.new .response_count {
	text-shadow: 0px 0px 5px red;
}
.bday {/*小蛋糕*/
	top: -10px !important;
	left: 10px !important;
}

#filter_tab a {/*分類tab*/
  padding: 0px 9px !important;
  font-size: 14px;
  line-height: 34px;
  background-color: #BBB;
  color: #333;
  border: none!important;
  text-decoration: none;
  border-radius: 3px 3px;
  transition:         all .2s ease 0s;
  -o-transition:      all .2s ease 0s;
  -moz-transition:    all .2s ease 0s;
  -webkit-transition: all .2s ease 0s;
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 7, 0.6);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 7, 0.6);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 7, 0.6);
}
#filter_tab a:hover {
	background-color: #FFF;
	color: #000;
	text-decoration: none;
	box-shadow:         0px 0px 3px #FFF;
	-moz-box-shadow:    0px 0px 3px #FFF;
	-webkit-box-shadow: 0px 0px 3px #FFF;
}
#filter_tab a.filter_selected {
  color: #AAA;
	background-color: #EEE;
	box-shadow:         inset 0px 0px 3px #000;
	-moz-box-shadow:    inset 0px 0px 3px #000;
	-webkit-box-shadow: inset 0px 0px 3px #000;
}

/*----/UI-----*/
/*-----Layout-----*/
html, body {
	width: 100%;
	height: 99%;
	min-width: 600px;
	min-height: 600px;
}

#timeline_holder {
  height: 80% !important;
  min-height: 400px;
}

#timeline_bg ,#timeline_fg {
	height: 100% !important;
	min-height: 400px;
}

#timeline_cnt {
	height: 80% !important;
	padding-top: 2% !important;
}

.block_bg ,.block_cnt ,.div_inner ,.div_one_line {
	height: 100% !important;
}

#dashboard_holder .adsense {
  position: absolute !important;
  top: -9999px !important;
}

#footer {
	padding: 0;
	line-height: 24px;
}
#footer .clearfix:after {
  display : inline;
}
#footer ul {
  max-width: none;
}

/*---------/Layout----------*/
/*----------Position----------*/
#timeline_holder {
    position: relative;
}

.day_bg {
	height: 100% !important;
	margin-top: -20px;
}

.div_inner {
	top: 20px;
}
.div_bottom {
	top: 0px;
	position: absolute;
}

#bottom_line {
	position: relative !important;
	top: 0 !important;
}

#time_show ,#updater ,#music_player {
	top: 80% !important;
	margin-top: -38px;
	position: absolute;
}
#time_show {
	left: 50% !important;
	margin-left: -90px;
}

.browse_button {
	top: 50%;
	display : block !important;
}

#filter_tab {
	right: 0;
	margin: 0;
	padding: 8px 20px;
	position: absolute;
}
#filter_tab li:last-child a {
	margin: 0px 0px 0px 0px !important;
}

/*---------/Position----------*/
/*----------Image----------*/
/*---------/Image----------*/
